/.vs/SqlToCSharp/DesignTimeBuild/.dtbcache
/.vs/SqlToCSharp/v15/.suo
/.vs/SqlToCSharp/v15/Server/sqlite3/storage.ide
/.vs/SqlToCSharp/v15/Server/sqlite3/storage.ide-shm
/.vs/SqlToCSharp/v15/Server/sqlite3/storage.ide-wal
/SqlToCSharp/bin/Debug/SqlToCSharp.exe
/SqlToCSharp/bin/Debug/SqlToCSharp.pdb
/SqlToCSharp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SqlToCSharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SqlToCSharp/obj/Debug/SqlToCSharp.csproj.CoreCompileInputs.cache
/SqlToCSharp/obj/Debug/SqlToCSharp.csproj.FileListAbsolute.txt
/SqlToCSharp/obj/Debug/SqlToCSharp.csproj.GenerateResource.Cache
/SqlToCSharp/obj/Debug/SqlToCSharp.csprojAssemblyReference.cache
/SqlToCSharp/obj/Debug/SqlToCSharp.csprojResolveAssemblyReference.cache
/SqlToCSharp/obj/Debug/SqlToCSharp.exe
/SqlToCSharp/obj/Debug/SqlToCSharp.Forms.AdvancedInformationForm.resources
/SqlToCSharp/obj/Debug/SqlToCSharp.pdb
/.vs/SqlToCSharp/v15/.suo
/.vs/SqlToCSharp/v15/Server/sqlite3/storage.ide
/SqlToCSharp/bin/Debug/SqlToCSharp.exe
/SqlToCSharp/bin/Debug/SqlToCSharp.pdb
/SqlToCSharp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SqlToCSharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SqlToCSharp/obj/Debug/SqlToCSharp.csproj.CoreCompileInputs.cache
/SqlToCSharp/obj/Debug/SqlToCSharp.csproj.FileListAbsolute.txt
/SqlToCSharp/obj/Debug/SqlToCSharp.csproj.GenerateResource.Cache
/SqlToCSharp/obj/Debug/SqlToCSharp.csprojResolveAssemblyReference.cache
/SqlToCSharp/obj/Debug/SqlToCSharp.exe
/SqlToCSharp/obj/Debug/SqlToCSharp.pdb
/.vs/SqlToCSharp/v15/Server/sqlite3/storage.ide
